@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin-left: 15px;
}

.main-container {
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.card, .populaires-cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card {
    display: flex;
    flex-direction: column;
}

.hebergements .card img, .populaires-cards img, .activites img  {
    object-fit: cover;   
}

h1 {    
    font-weight: 700;
    margin-top: 20px; 
    width: 90%; 
 }

h2 /*ancien .section-title*/ { 
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

h3 /* ancien .card-title*/ {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****NAV***/

nav {
    display: flex;
    justify-content: space-between;
}

nav img {    
    height: 15px;    
    margin-top: 30px;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    margin-top: 15px;   
}

nav ul a {
    text-decoration: none;   
    color: black;
    padding-top: 10px;
    margin-left: 30px;
}

nav ul a:hover {
    border-top:2px solid #0065FC;
    color:#0065FC;
}

/****HEADER ****/


/**** HEADER - FORMULAIRE ****/

header form {
    width: 90%;
    margin-top: 20px;    
}

header form > i {   
    width: 30px;
    height: 38px;
    background: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 10px 30px 11px 20px;
    margin-right: -5px;         
}

.fa-location-dot {
    color: black;
}

.placeholder {    
    width: 15%;
    height: 38px;
    border: 1px solid #F2F2F2;
    padding-bottom: 0;
}

::placeholder {
    text-align: center;
    font-weight: bolder;
    color: black;    
}

.recherche {
    width: 130px;
    height: 38px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;    
    border: 2px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    background: #0065FC;    
    padding-bottom: 3px; 
    margin-left: -5px;
}

header form button .fa-magnifying-glass {
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    background: #0065FC;  
    padding: 12px;
    margin: 0;
    margin-left: -10px;    
}

header form button {
    display: none;    
}

/**** FILTRES ****/

header .filtre {    
    display: flex;    
    width: 50%;
    margin-top: 30px;
}

header .filtre p {    
    align-self: center; 
    font-size: 17px;  
    font-weight: 700; 
    margin-right: 10px;
}

header .filtre div {
    display: flex;
    justify-content: space-between;
}

header .filtre div a {    
    flex: 1 1 auto;   
    margin-right: 10px;
    text-decoration: none;
    color: black;     
}

header .filtre div a i {
    padding-right: 10px;
}

header .filtre div span:hover {
    background: #DEEBFF;
}

header .filtre div span {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: 700;
    white-space: nowrap;
    border: 2px solid #f2f2f2;
    border-radius: 50px 50px 50px 50px;
    padding: 12px 15px 12px 12px;
}

/****INFO***/

.info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;    
    line-height: 24px;
}

.info .fa-info {    
    text-align: center;
    padding-top: 3px;
    width: 24px;
    font-size: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 100%;
    margin-right: 12px;          
}

/*****MAIN****/

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/****** Hebergements Populaires Activités***********/

.hebergements, .populaires {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    padding: 25px 27px 25px 27px;
}

.hebergements > div {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    margin-top: 15px;
}

.hebergements .card {
    width: 30%;
    height: 180px;
}

.hebergements .card a {
    text-decoration: none;
    color: #000000;
}

.hebergements .card img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .content {   
    height: 70px; 
    padding-left: 10px;
}

.content div {      
    margin-top: auto;
}

.afficher-plus {
    text-decoration: none;
    font-weight: 700; 
    color: #000000;
    margin-top: 10px;
}


/****** Populaires ***********/

.populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 25px 27px 20px 27px;   
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.populaires-cards {
    display: flex;
    height: 120px;
}

.populaires-cards img { 
    width: 30%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .content {    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 30%;
    padding-top: 5px;
    padding-left: 5px;    
}

/****** Activités ***********/

.activites {
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 18px;
}

.activites > div {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.activites .card {
    width: 23%;
    padding: 0; 
}

.activites a {
    text-decoration: none;
    color: #000000;
}

.activites img {
   width: 100%;
   height: 340px;
   border-radius: 20px 20px 0 0;
}

.activites h3 {
    display: flex;
    align-items: center;
    height: 40px;
    margin-left: 12px;
}

/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #F2F2F2;
}

footer ul {    
    width: 35%;
    line-height: 30px;    
    white-space: nowrap;
}

.titre-footer {
   font-size: 18px;
   font-weight: 700;
   white-space: nowrap;
}

footer ul a {
    text-decoration: none;
    color: #000000;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1025px) {


/***Header***/

/****FORMULAIRE ****/

    .placeholder {
        width: 22%;
    }

/**** FILTRES ****/

    header .filtre {
        flex-direction: column;    
        height: 70px;
    }

    header .filtre p {
        align-self: flex-start;
    }

    header .filtre div {
        margin-top: 15px;    
        margin-bottom: 15px;
    }

    header .filtre div span {
        padding-bottom: 10px;
    }

/*****Hébergement*****/

       .hebergements {
       width: 100%;
    }

/*****Populaire*****/

    .populaires {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 25px;
    }

    .populaires-cards {
        width: 30%;
        margin-top: 20px;
    }

/******ACTIVITE******/
    .activites {
        width: 100%;
        padding: 10px;
    }
    
    .activites img {
        height: 200px;    
    }

/****FOOTER*****/

    footer ul a {
        font-size: 15px;
    }

}

/* Small devices (phones, less than 768px) */
@media (width < 769px) {

    body {
        justify-content: space-between;
        margin: 0;
    }
    
    .main-container {
        padding: 0;
    }
    
/****NAV****/

    nav {
        flex-direction: column;
        align-items: center;     
    }
    
    nav img {    
        height: 24px;    
    }
    
    nav ul {
        width: 100%;
        padding-bottom: 15px;  
    }

    nav li {
        display: flex;
        justify-content: center;
        width: 100%; 
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 15px;
    }

    nav ul li:hover {
        border-bottom: 2px solid #0065FC;
    }
    
    nav ul a {
        margin: 0;
    }
    
    nav li a:hover {
        border-top: none;
    }

/****HEADER****/

    header {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
    }

    h1 {    
        font-size: 22px; 
     }

/****FORMULAIRE ****/

    .placeholder {
        width: 70%;
    }
    
    header form button {
        display: contents;    
    }

    .recherche {
        display: none;
    }

/****FILTRES****/

    header .filtre {
        height: 150px;
    }

    header .filtre div {
        flex-wrap: wrap;
        width: 180%;
    }

    header .filtre div a {   
        width: 40%;
        margin-bottom: 10px;
    }


/*****INFO****/

    header .info {
        align-items: center;
        line-height: 18px;
    }
    
    header .info .fa-info {    
        width: 30px;
        height: 28px;
    }
    
/*****MAIN****/

    main {
        flex-direction: column;
        flex-wrap: wrap;
    }

/****** Hebergements Populaires Activités***********/

    .hebergements .card, .populaires-cards {
        width: 100%;
    }

/****** Hebergements ***********/

    .hebergements {
        background: none;
        order: 1;
    }

    .hebergements > div {  
        flex-direction: column;
        height: 1200px;
    }


/****** Populaires ***********/

    .populaires {
        height: 525px; 
        border-radius: 0%;   
        order: 0; 
    }

/****** Activités ***********/

    .activites {
        order: 2;
    }

    .activites > div {
        flex-direction: column;
        align-items: center;        
        height: 870px;
    }

    .activites .card {
       width: 95%;
    }

    .activites img {
        height: 150px;    
    }

    .activites h2 {
        padding-left: 25px;
    }

/****** Footer ***********/

    footer {
        flex-direction: column;        
        height: 400px;
    }

    footer ul {    
       margin-left: 20px;
    }

}